.main-container {
    background-color: rgba(249, 250, 238, 1);
}

.top-container {
    background-color: rgba(249, 250, 238, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*margin-top: 25px;*/
    padding-top: 25px;
}

.account-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.personal-info-container {
    width: 70%;
}

.account-card {
    border: none;
    background-color: rgba(249, 250, 238, 1);
}

.account-card p {
    margin-bottom: 4px;
}

.account-card-text-info {
    margin-left: 7%;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

.account-card-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.account-title {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Forum", "cursive";
    color: rgb(61, 104, 39);

}

.account-info {
    font-size: 1.5rem;
    font-family: "Forum", "cursive";
    color: rgb(61, 104, 39);
}

.with-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-likes {
    margin-left: 20px;
}

.stats-info {
    height: 10px;
}

.account-edit-button {
    background-color: #E2F0D2;
    /*border: solid 1px rgb(61, 104, 39);*/
    color: rgb(61, 104, 39);
    margin-top: 5px;
    padding: 5px 10px;
    font-family: "Forum", "cursive";
    font-size: 1.5rem;
    border-radius: 0 20px 0 20px;
    border: none;
}

.account-edit-button:hover, .account-edit-button:focus, .account-edit-button:active {
    background-color: rgba(127, 165, 105, 0.34);
    /*border: solid 1px rgb(61, 104, 39);*/
    color: rgb(61, 104, 39);
}
.form-select-family{
    border-bottom: solid 1px #3D6827 ;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-color: rgba(249, 250, 238, 1);
    color: #3D6827;
    padding: 1% 36px 1% 12px;
    font-size: 1.3rem;
    font-family: "Forum", "cursive";
}
.form-select-family option{
    font-size: 1.2rem;
    font-family: "Forum", "cursive";
    background-color: rgba(249, 250, 238, 1)
}
.form-select-family:focus, .form-select-family:active{
    box-shadow: none;
    border-bottom: solid 2px #3D6827 ;
}
.selected-family-info{
    margin: 10px 10px;
    padding:10px 10px;
    border: solid 1px #3D6827 ;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: left;
}
.family-info-container{
    display: flex;
}
.edit-family-buttons{
    color: #3D6827;
    margin-top: 10px;
    margin-left: 2px;
}
.create-family-button{
    width: 93%;
    border-radius: 12px;
    border: solid 1px #3D6827;
    background-color: rgba(249, 250, 238, 1);
    color: #3D6827;
    font-family: "Gentium Plus", serif;
    padding: 5px 5px;
    font-size: 1.3em;
    transition: ease 0.5s;
}
.create-family-button:hover{
    background-color: rgba(127, 165, 105, 0.34);
}
.nav-item {
    margin-top: 50px;
    margin-right: 7px;
    background-color: #E2F0D2;
    color: rgb(61, 104, 39);
    border-radius: 0 20px 0 0;
    border: none;
    /*padding: 8px 25px;*/

}

.nav-item:hover {
    background-color: rgba(127, 165, 105, 0.34);
    color: rgb(61, 104, 39);
}

.nav-tabs .nav-link, .nav-tabs {
    border: none;
    font-size: 1.4rem;
    font-family: "Gentium Plus", serif;
}

.nav-tabs .nav-link.active {
    background-color: rgba(127, 165, 105, 0.34);
    color: rgb(61, 104, 39);
    border-radius: 0 20px 0 0;
}

.nav-item button, .nav-item:hover button {
    color: rgb(61, 104, 39);
}

.tab-content {
    /*background-color: #C1D7AE;*/
    background-color: #1a1e21;
    /*height: auto;*/
}
.MuiButtonBase_root .MuiAccordionSummary-content{
    margin: 0;
    max-width: 220px ;
}
.own-recipes-container, .liked-recipe-card, .friend-request-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3% 0;
    justify-items: center;
    padding: 20px 10px;
    overflow: scroll;

}
.all-store-locations{
    /*border: solid 1px #3D6827;*/
}
.one-store-location{
    border: solid 1px #3D6827;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 3px 12px;
}
.own-product-list {
    display: flex;
    flex-direction: row;
    /*width: 90%;*/
    justify-content: space-around;
    min-height: 250px;
}
/*#locations div{*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*    padding-left: 0;*/
/*    padding-right: 0;*/
/*}*/
.input-table-container{
    margin-top: 20px;
}
/*#panel1-header{*/
/*    padding: 0;*/
/*}*/
.input-table-container .MuiFormLabel-root.Mui-focused, .input-table-container .MuiFormLabel-root, .input-table-container .MuiInput-underline {
    color: #3D6827;
    font-size: 1.2rem;
    font-family: "Gentium Plus", serif;
}
.input-table-container .MuiInput-underline:after {
    border-bottom-color: #3D6827;
}
/*.proposal-table-container{*/
/*    max-width: 700px;*/
/*}*/
/*.proposal-table-container .MuiTable-root{*/
/*    min-width: 687px;*/
/*}*/
.proposal-table-container .MuiTableCell-root{
    color: #3D6827;
    font-family: "Gentium Plus", serif;
    font-size: 1.2rem;
    background-color: #E2F0D2;

}
.proposal-table-container .MuiTableHead-root .MuiTableCell-root,
.main-product-list-container .MuiTableHead-root .MuiTableCell-root,
.product-list-title{
    font-weight: bold;
}

.main-product-list-container .MuiTableCell-root{
    color: #3D6827;
    font-family: "Gentium Plus", serif;
    font-size: 1.2rem;
    background-color: #F9FAEE;
    padding: 0;
}
.main-product-list-container .product-list-title{
    color: #3D6827;
    font-family: "Gentium Plus", serif;
    font-size: 1.3rem;
}
.main-product-list-container .MuiPaper-root{
    margin-top: 10px;
}
/*.product-list-container{*/
/*    width: 42%;*/
/*}*/
.form-check-input {
    margin-right: 0.5em;
}
.all-family-info-container{
    text-align: center;
}

.proposal-table-container .MuiTableContainer-root, .main-product-list-container .MuiTableContainer-root {
    margin: 30px 0;
    border-radius: 20px;
    transition: ease 0.5s;
    box-shadow: none;
}

.control-product-number {
    white-space: nowrap;
}

.add-to-list-button.MuiButton-root {
    border-radius: 15px;
    color: #3D6827;
}

.shop-image {
    width: 50px;
    height: auto;
}

.add-to-list-button.MuiButton-root:hover {
    background-color: #E2F0D2;
}

.minus-button.MuiButton-root {
    color: rgba(127, 165, 105, 0.74);
}

.friend-request-card {
    min-height: 250px;
    padding-top: 7px;
}

.main-product-list-container {
    background-color: #F9FAEE;
    /*height: 100%;*/
    border-radius: 30px;
    padding: 10px 0;
    margin: 16% 0;
    text-align: center;
}
@media (max-width: 1400px) {
    .own-product-list {
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        /*align-items: center;*/
        /*justify-items: center;*/
    }
    .main-product-list-container{
        margin: 5% 0;
    }
}

@media (max-width: 1090px) {
    .friend-request-card {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 620px) {
    .nav-tabs .nav-link, .account-info, .account-edit-button {
        font-size: 1.2rem;
    }
    .account-card-image{
        width: 100px;
        height: 100px;
    }
    .account-title{
        font-size: 1.3rem;
    }
}
@media (max-width: 450px) {
    .own-recipes-container, .liked-recipe-card{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 991px) {
    #panel1-header{
        margin-left: 20%;
    }
    .MuiButtonBase-root .MuiAccordionSummary-content{
        margin-top: 0;
    }
    .css-eqpfi5-MuiAccordionSummary-content.Mui-expanded{
        margin-top: 0;
    }
}
@media (max-width: 440px) {
    #panel1-header{
        margin-left: 0;
    }

}