.create-recipe-dialog {
    display: flex;
    flex-direction: column;
    padding: 35px;
    justify-content: center;
    align-items: center;
}

.create-recipe-button {
    border-radius: 35px;
    background-color: #E2F0D2;
    color: #3D6827;
    border: none;
    font-family: "Gentium Plus", serif;
    margin: 30px 10px 0 10px;
    padding: 10px 30px;
    font-size: 20px;
    transition: ease 0.5s;
}

.create-recipe-button:hover{
    background-color: #a2af91;
}

.recipe-photo-upload {
    font-family: "Gentium Plus", serif;
    font-size: 1.2rem;
    border-radius: 30px;
    color: #747474;
    margin-bottom: 30px;
}

.recipe-photo-upload:focus {
    border-color: #3D6827;;
    box-shadow: none;
    color: #3D6827;
}

.photo-upload-label {
    font-family: "Gentium Plus", serif;
    font-size: 1.2rem;
    color: #747474;
    text-align: start;
    width: 100%;
    margin-top: 16px;
}


