.recipe-main-container {
    width: 100%;
    background-color: #F9FAEE;
    overflow: hidden;
}

.recipe-inner-container {
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.recipe-author-info {
    width: 16%;
    border: solid 1px #3D6827;
    margin-bottom: 30px;
    border-radius: 20px 0 20px 0;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    min-width: 200px;
}

.recipe-author-image {
    width: 3rem;
    aspect-ratio: 1 / 1;
}

.recipe-text-info-item {
    color: #3D6827;
    font-family: "Gentium Plus", serif;
    margin: 0;
    font-size: 1rem;
}

.recipe-name-label {
    font-family: "Gentium Plus", serif;
    font-weight: bold;
    font-size: 2.3rem;
    color: #3D6827;
    margin: 0 0 10px 0;
}

.recipe-likes-info {
    font-family: "Gentium Plus", serif;
    font-size: 1.5rem;
    color: #3D6827;
    margin-bottom: 20px;
}

.recipe-page-like-button {
    color: #3D6827;
    border: none;
    background-color: transparent;
    padding: 0;
}

.recipe-page-description {
    font-family: "Gentium Plus", serif;
    font-size: 1.2rem;
    color: #3D6827;
    width: 70%;
    margin: 0;
}

.recipe-page-img-left {
    position: relative;
    width: 110%;
    left: -30%;
    height: 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    grid-area: 1 / 1 / 3 / 2;
}

.recipe-page-img-right {
    position: relative;
    width: 110%;
    right: -20%;
    height: 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    grid-area: 2 / 3 / 4 / 4;
    max-height: 450px;
}

.name-and-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 2 / 2 / 3 / 3;
    height: 100%;
}

.recipe-page-main-info-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 400px auto;
    overflow: hidden;
    width: 100%;
}

.recipe-page-ingredients {
    grid-area: 3 / 1 / 4 / 3;
    text-align: start;
}

.recipe-page-ingredients {
    margin-left: 50px;
    margin-top: 50px;
    font-family: "Gentium Plus", serif;
    font-size: 1.5rem;
    color: #3D6827;
    max-width: 820px;
}

.recipe-page-ingredients-label {
    font-weight: bold;
}

.recipe-page-add-products-label {
    padding: 10px;
    border-radius: 20px;
    font-family: "Gentium Plus", serif;
    font-size: 1.5rem;
    color: #3D6827;
    background-color: #E2F0D2;
    text-align: center;
    width: 80%;
}

.MuiDialogContent-root {
    border: solid 1px #3D6827;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MuiDialogContent-root .MuiTableHead-root .MuiTableCell-root {
    font-weight: bold;
}

.MuiDialogContent-root .MuiTableCell-root {
    color: #3D6827;
    font-family: "Gentium Plus", serif;
    font-size: 1.1rem;
    background-color: #F9FAEE;
}

.MuiDialogContent-root .MuiTableContainer-root {
    margin-bottom: 30px;
    border-radius: 10px;
    transition: ease 0.5s;
    box-shadow: none;
}

.MuiDialogContent-root .MuiButton-root {
    border-radius: 20px;
    color: #3D6827;
}

.MuiDialogContent-root .MuiButton-root:hover {
    background-color: #E2F0D2;
}

.recipe-main-container .MuiDialogContent-root .MuiFormControl-root {
    font-family: "Gentium Plus", serif;
    width: 50%;
    margin-bottom: 30px;
}

.recipe-main-container .MuiDialogContent-root .MuiInputLabel-root {
    font-family: "Gentium Plus", serif;
    color: #3D6827;
    font-size: 1.2rem;
}

.recipe-main-container .MuiDialogContent-root .MuiInputBase-root  {
    font-family: "Gentium Plus", serif;
    color: #5b5e59;
    font-size: 1.2rem;
}

.MuiDialogContent-root .MuiInput-underline:after {
    border-bottom-color: #3D6827;
}

.MuiDialogContent-root .MuiInputLabel-root.Mui-focused {
    color: #3D6827;
}

.MuiMenuItem-root {
    font-family: "Gentium Plus", serif !important;
    color: #3D6827 !important;
}

.MuiMenuItem-root.Mui-selected {
    background-color: #E2F0D2 !important;
}

.MuiInput-underline:hover:before {
    border-bottom-color: #3D6827 !important;
}

.recipe-page-ingredient-item {
    font-family: "Gentium Plus", serif;
    color: #3D6827;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: solid 1px #3D6827;
    background-color: transparent;
    margin: 0 5px 10px 0;
    transition: ease 0.5s;
}

.recipe-page-ingredient-item:hover {
    background-color: #E2F0D2;
}

.recipe-page-instructions-container {
    width: 100%;
    margin-top: 70px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.recipe-page-instructions-label {
    font-family: "Gentium Plus", serif;
    color: #3D6827;
    font-weight: bold;
    font-size: 1.5rem;
}

.recipe-page-instructions {
    font-family: "Gentium Plus", serif;
    color: #3D6827;
    font-size: 1.2rem;
    text-align: end;
    width: 60%;
}

.recipe-page-comments-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    margin-left: 50px;
    margin-top: 50px;
}

.recipe-page-comments-label {
    font-family: "Gentium Plus", serif;
    color: #3D6827;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: start;
}

.recipe-page-comments-container .MuiFormLabel-root.Mui-focused {
    color: #3D6827;
    font-size: 1.2rem;
}

.recipe-page-comments-container .MuiInput-underline:before {
    border-bottom-color: #E0E3E7;
}

.recipe-page-comments-container .MuiInput-underline:hover:before {
    border-bottom-color: #3D6827;
}

.recipe-page-comments-container .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom-color: #3D6827;
}

.recipe-page-comments-container .MuiInput-underline:after {
    border-bottom-color: #3D6827;
}

.recipe-page-comments-container .MuiInputBase-input {
    color: #5b5e59;
    font-family: 'Gentium Plus', serif;
    font-size: 1.2rem;
}

.recipe-page-comments-container .MuiFormLabel-root {
    font-family: 'Gentium Plus', serif;
    font-size: 1.2rem;
}

.recipe-page-comments-container .MuiTextField-root {
    margin: 0 30px 30px 0;
    width: 40%;
}

.add-comment-container {
    display: flex;
    align-items: center;
}

.recipe-page-add-comment-button {
    border: none;
    background-color: transparent;
    font-family: "Gentium Plus", serif;
    color: #3D6827;
    font-size: 1.2rem;
    font-weight: bold;
    float: right;
    border-radius: 20px;
    transition: ease 0.5s;
    padding: 5px 10px;
}

.recipe-page-add-comment-button:hover {
    background-color: #E2F0D2;
}

@media (max-width: 765px) {
    .recipe-page-add-products-label {
        font-size: 1rem;
    }

    .MuiDialogContent-root .MuiFormControl-root {
        width: 90%;
    }

    .MuiDialogContent-root .MuiTableCell-root {
        font-size: 0.9rem;
    }

}

@media (max-width: 1150px) {
    .recipe-name-label {
        font-size: 1.7rem;
    }

    .recipe-page-description {
        font-size: 1rem;
        width: 100%;
    }
}

@media (max-width: 845px) {
    .recipe-page-main-info-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .recipe-page-img-left {
        display: none;
    }

    .recipe-page-img-right {
        top: 0;
        right: 0;
        grid-area: 2 / 1 / 3 / 2;
        width: 90%;
        margin: auto;
    }

    .name-and-description-container {
        grid-area: 1 / 1 / 2 / 2;
    }

    .recipe-page-ingredients {
        margin: 0;
        grid-area: 3 / 1 / 4 / 2;
        padding: 20px;
    }

    .recipe-page-instructions {
        width: 100%;
        text-align: center;
    }

    .recipe-page-instructions-container {
        align-items: center;
    }

    .recipe-page-description {
        padding: 0 20px 20px 20px;
    }

    .recipe-page-ingredients-label {
        font-size: 1.2rem;
    }

    .recipe-page-ingredient-item {
        font-size: 1rem;
    }

    .recipe-page-instructions-container {
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }

    .recipe-page-instructions-label {
        font-size: 1.2rem;
    }

    .recipe-page-instructions {
        font-size: 1rem;
    }

    .recipe-page-comments-container {
        margin: 0;
        width: 100%;
        padding: 0 20px;
    }

    .recipe-page-comments-label {
        font-size: 1.2rem;
    }

    .recipe-page-add-comment-button {
        font-size: 0.9rem;
    }

    .add-comment-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .recipe-page-comments-container .MuiTextField-root {
        margin: 0 10px 10px 10px;
        width: 100%;
    }
}