.sign-up-dialog {
    display: flex;
    flex-direction: column;
    padding: 35px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sign-up-button {
    border-radius: 35px;
    background-color: #E2F0D2;
    color: #3D6827;
    border: none;
    font-family: "Gentium Plus", serif;
    margin: 30px 10px 0 10px;
    padding: 10px 30px;
    font-size: 20px;
    transition: ease 0.5s;
}

.sign-up-button:hover{
    background-color: rgba(127, 165, 105, 0.34);
}

.sign-up-button:disabled {
    background-color: #E2F0D2;
    color: #C1D7AE;
}

.sign-up-photo-upload {
    font-family: "Gentium Plus", serif;
    font-size: 1.2rem;
    border-radius: 30px;
    color: #747474;
    margin-bottom: 30px;
    background-color: #F9FAEE;
}

.sign-up-photo-upload:focus {
    border-color: #3D6827;;
    box-shadow: none;
    color: #3D6827;
    background-color: #F9FAEE;
}

.photo-upload-label {
    font-family: "Gentium Plus", serif;
    font-size: 1.2rem;
    color: #3D6827;
    text-align: start;
    width: 100%;
    margin-top: 16px;
}

.sign-up-dialog .MuiFormLabel-root.Mui-focused {
    color: #3D6827;
    font-size: 1.2rem;
}

.sign-up-dialog .MuiInput-underline:before {
    border-bottom-color: #E0E3E7;
}

.sign-up-dialog .MuiInput-underline:hover:before {
    border-bottom-color: #3D6827;
}

.sign-up-dialog .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom-color: #3D6827;
}

.sign-up-dialog .MuiInput-underline:after {
    border-bottom-color: #3D6827;
}

.sign-up-dialog .MuiInputBase-input {
    color: #5b5e59;
    font-family: 'Gentium Plus', serif;
    font-size: 1.2rem;
}

.sign-up-dialog .MuiFormLabel-root {
    font-family: 'Gentium Plus', serif;
    font-size: 1.2rem;
}

.sign-up-dialog .MuiTextField-root {
    margin: 0 0 30px 0;
}

@media (max-width: 730px) {

    .sign-up-button {
        font-size: 0.8rem;
    }

    .sign-up-dialog .sign-up-photo-upload {
        font-size: 0.8rem;
    }

    .sign-up-dialog .MuiDialog-paperFullWidth {
        width: 90vw;
        margin: 0;
    }

    .sign-up-dialog .MuiFormLabel-root {
        font-size: 0.8rem;
    }

    .sign-up-dialog .photo-upload-label {
        font-size: 0.8rem;
        margin-left: 40px;
    }

    .sign-up-photo-upload {
        font-size: 0.8rem;
        width: 95%;
    }

    .sign-up-dialog {
        padding: 10px;
    }
}